.logout {
    display: block;
    background-color: rgb(42, 93, 110);
    color: white;
    margin: auto;
    margin-top: 20%;
}

.userDetailToggle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userDetailToggle > button {
    width: fit-content;
    margin-bottom: 50px;
}